<div class="card">
    <div class="card-header">
        Inventory
    </div>
    <div class="card-body scrollbox">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Slot/Type
                    </th>
                    <th>
                        Power
                    </th>
                    <th>
                        <a (click)='donateAll()'>
                            <span class="text-primary" style="cursor: pointer; ">Donate All</span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of getInventory()'>
                    <td>
                        <span [style.color]="item.rarity | rarityToColor">{{item.itemName}}</span>
                    </td>
                    <td>
                        <div *ngIf='item.type == 0; else noequip'>
                            <a (click)='equip(item)'>
                                <span class="text-primary" style="cursor: pointer; ">{{getSlotNameForItem(item)}}</span>
                            </a>
                        </div>
                        <ng-template #noequip>{{getSlotNameForItem(item)}}</ng-template>
                    </td>
                    <td>
                        {{getPowerOrValueForItem(item)}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" (click)='donate(item)'>Donate</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>