<div class="card">
    <div class="card-header">
        Inventory ({{getInventory().length}})
    </div>
    <div class="card-body scrollbox">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Slot/Type <span (click)='sortBySlot()' class="text-primary" style="cursor: pointer; ">▼</span>
                    </th>
                    <th>
                        Power <span  (click)='sortByPower()' class="text-primary" style="cursor: pointer; ">▼</span>
                    </th>
                    <th>
                        <a (click)='donateAll()'>
                            <span class="text-primary" style="cursor: pointer; ">Donate All</span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of getInventory()'>
                    <td>
                        <span [style.color]="item.rarity | rarityToColor">{{item.itemName}}</span>
                    </td>
                    <td>
                        <div *ngIf='item.type == 0; else noequip'>
                            <a (click)='equip(item)'>
                                <span ngbTooltip="{{getUpgradeStatusForItem(item)}}" class="text-primary" style="cursor: pointer; ">{{getSlotNameForItem(item)}}</span>
                            </a>
                        </div>
                        <ng-template #noequip><span ngbTooltip="Unequippable">{{getSlotNameForItem(item)}}</span></ng-template>
                    </td>
                    <td>
                        <span [style.color]="getUpgradeStatusForItem(item) | upgradeStatusToColor">{{getPowerOrValueForItem(item)}}</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" (click)='donate(item)'>Donate</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>