<div class="card">
    <div class="card-header">
        Inventory
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Slot/Type
                    </th>
                    <th>
                        Power
                    </th>
                    <th>

                    </th>
                    <th>
                        <a (click)='donateAll()'><span class="text-primary" style="cursor: pointer; ">Donate All</span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of getInventory()'>
                    <td>
                        {{item.itemName}}
                    </td>
                    <td>
                        {{getSlotNameForItem(item)}}
                    </td>
                    <td>
                        {{item.power}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)='equip(item)'>Equip</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)='donate(item)'>Donate</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>