<div class="card">
    <div class="card-header">
        Trainer
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Ranks
                    </th>
                    <th>
                        Cost
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let skill of allSkills'>
                    <td>
                        <a (click)='purchase(skill)'><span ngbTooltip="{{skill.helpText}}" class="text-primary" style="cursor: pointer; ">{{skill.name}}</span></a>
                    </td>
                    <td>
                        {{getRanksForSkill(skill)}}
                    </td>
                    <td>
                        {{getCostForSkill(skill)}} Fame
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" ngbTooltip="Donates all of your cheapest currency for a paltry amount of Fame." class="btn btn-outline-primary mt-1" (click)="donateCash()">Donate Cash</button>
    </div>
</div>