<div class="card" style="width: 20rem">
    <div class="card-header">
        Hero Information
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{hero.name}}</td>
                </tr>
                <tr>
                    <td>Job:</td>
                    <td>{{hero.job}}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)='adventure()'>Adventure</button>
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Auto-Adventure</button>
    </div>    
</div>
