<div class="card">
    <div class="card-header">
        Hero Information
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{hero.name}}</td>
                </tr>
                <tr>
                    <td>Job:</td>
                    <td>{{hero.job}}</td>
                </tr>
                <tr>
                    <td>Power:</td>
                    <td>{{hero.power}}</td>
                </tr>
                <tr>
                    <td>Fame:</td>
                    <td>{{hero.fame}}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary" (click)='adventure()'>Adventure</button> 
    </div>
</div>