<div class="card" style="width: 18rem">
    <div class="card-header">
        Hero Information
    </div>
    <div class="card-body">
        <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name:</td>
                <td>{{hero.name}}</td>
            </tr>
            <tr>
                <td>Job:</td>
                <td>{{hero.job}}</td>
            </tr>
        </tbody>
        
        </table>
    </div>    
</div>
