<div class="card">
    <div class="card-header">
        Loot ({{getLootBoxCount()}})
    </div>
    <div class="card-body mx-auto">
        <div class="progress">
            <div class="progress-bar" role="progressbar" [@boxState]="boxState" (@boxState.start)="animationStarted($event)" (@boxState.done)="animationEnded($event)" ></div>
        </div>
        <div *ngIf='getCurrentlyOpeningBox()'>
            Opening a <b>{{getCurrentlyOpeningBox().chestName}}</b>...
        </div>
        <div *ngIf='!(getCurrentlyOpeningBox())'>
            No loot box right now
        </div>
    </div>
</div>