<div class="card">
    <div class="card-header">
        Equipment
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Slot
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Power
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let slot of getAllEquipmentSlots()'>
                    <td>
                        {{getSlotName(slot)}}        
                    </td>
                    <td>
                        <span [style.color]="getColorForSlot(slot)">{{getItemNameForSlot(slot)}}</span>        
                    </td>
                    <td>
                        {{getPowerForSlot(slot)}}        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
