<nav class="navbar main-nav mb-2">
    <span class="navbar-brand mb-0 h1">
        <img src="/LBC/assets/open-treasure-chest.png" width="30" height="30" class="d-inline-block align-top" alt="" /> Loot Box Clicker
        <a class="header-text ml-5" (click)="save()">Save</a>
        <span id="save-check" [@checkState]="checkState"> ✓</span>
        <span class="header-text ml-5" (click)="open(about)">About</span>
    </span>
    <span class="navbar-brand mb-0 h1">
        <a class="header-text ml-5" (click)="reset()">Reset</a>
    </span>
</nav>
<div class='container'>
    <ul class='nav nav-tabs mb-1'>
        <li class='nav-item mx-1'>
            <a [routerLink]="['/hero']">Hero</a>
        </li>
        <li class='nav-item mx-1'>
            <a [routerLink]="['/shop']">Shop</a>
        </li>
        <li class='nav-item mx-1'>
            <a [routerLink]="['/inventory']">Inventory</a>
        </li>
        <li class='nav-item mx-1'>
            <a [routerLink]="['/trainer']">Trainer</a>
        </li>
        <li class='nav-item mx-1'>
            <a [routerLink]="['/details']">Details</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>

<ng-template #about let-c="close" let-d="dismiss" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
    <div class="modal-header main-nav justify-content-start d-flex">
        <h5 class="modal-title" id="aboutLabel">Loot Box Clicker</h5>
        <img src="/LBC/assets/open-treasure-chest.png" width="30" height="30" class="ml-1" />
    </div>
    <div class="modal-body">
        <p>by Rob Herman</p>
        <p>Contact me on Twitter
            <a target="_blank" href="https://twitter.com/Rule0">@Rule0</a> or check out the <a target="_blank" href="https://github.com/sitnaltax/loot-box-clicker">source</a>,
            <a target="_blank" href="https://github.com/sitnaltax/loot-box-clicker/blob/master/README.md">readme and acknowledgements</a>, or 
            <a target="_blank" href="https://github.com/sitnaltax/loot-box-clicker/blob/master/changelog.md">changelog</a> on Github.
            <br/>
        </p>
        <!--<textarea [(ngModel)]="exportText" rows=5></textarea><br/>
        <button type="button" class="btn btn-outline-primary mt-1" (click)="import()">Import</button>
        <button type="button" class="btn btn-outline-primary mt-1 ml-2" (click)="export()">Export</button>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c()">OK</button>
    </div>
</ng-template>