<div class="card">
    <div class="card-header">
        Currency
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Currency
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor='let cash of getCash(); let i = index'>
                    <tr>
                        <td>
                            {{cash.quantity}}
                        </td>
                        <td>
                            {{getCurrencyName(cash)}} <button *ngIf="i === 0 && getCash().length > 1" type="button" class="btn btn-sm btn-outline-primary float-right" (click)='donateCash()'>Donate</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>