<div class="card">
    <div class="card-header">
        Shop
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Cost
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of allShopItems'>
                    <td>
                        <a *ngIf="canPurchase(item)" (click)='purchase(item, $event)'><span class="text-primary text-noselect" style="cursor: pointer; ">{{item.chestName}}</span></a>
                        <span *ngIf="!canPurchase(item)">{{item.chestName}}</span>
                    </td>
                    <td>
                        {{item.cost.quantity}} {{getCurrencyName(item.cost)}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>